{% extends '../base.html' %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <br>
    <p><strong>-- OR --</strong></p>
    <div class="col-sm-4">
    <div class="social-sizes">
        <a class="btn btn-block btn-social btn-lg btn-github" href="{% url 'social:begin' 'github' %}?next={{ request.GET.next }}">
            <i class="fa fa-github"></i>Login with GitHub</a>
    </div>
    </div>
{% endblock %}
