<!DOCTYPE html>
<html lang="en">
<head>
    <title>RR's Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/awesome/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="../static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/bootstrap-social.css" rel="stylesheet" media="screen">
    <link href="../static/base.css" rel="stylesheet" media="screen">
</head>
<body>
{% block content %}

{% endblock %}
<footer class="panel-footer navbar navbar-default navbar-fixed-bottom">
    <div style="text-align:center;margin:50px 0; bottom: 0; font:normal 14px/24px'MicroSoft YaHei';">
        <p>PostBy: Klin. 备案号: <a href="http://www.miitbeian.gov.cn">粤ICP备17051087号</a></p>
    </div>
</footer>
</body>
</html>
